/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:700%2C400");
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'fontello';
  src: url("./../font/fontello.eot?60417239");
  src: url("./../font/fontello.eot?60417239#iefix") format("embedded-opentype"), url("./../font/fontello.woff?60417239") format("woff"), url("./../font/fontello.ttf?60417239") format("truetype"), url("./../font/fontello.svg?60417239#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Swiss Condensed';
  src: url("../fonts/UTM-Swiss-Condensed.eot");
  src: url("../fonts/UTM-Swiss-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/UTM-Swiss-Condensed.woff2") format("woff2"), url("../fonts/UTM-Swiss-Condensed.woff") format("woff"), url("../fonts/UTM-Swiss-Condensed.ttf") format("truetype"), url("../fonts/UTM-Swiss-Condensed.svg#UTM-Swiss-Condensed") format("svg"); }
@font-face {
  font-family: 'UTM Avo';
  src: url("../fonts/UTM AvoBold.eot");
  src: url("../fonts/UTM AvoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UTM AvoBold.woff2") format("woff2"), url("../fonts/UTM AvoBold.woff") format("woff"), url("../fonts/UTM AvoBold.ttf") format("truetype"), url("../fonts/UTM AvoBold.svg#UTM Avo") format("svg"); }
body {
  font-family: Roboto, sans-serif;
  color: #555555;
  line-height: 1.5; }

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/*mixin*/
@media (min-width: 1400px) {
  .container {
    width: 1140px; } }
body .demo-icon {
  width: auto;
  height: auto;
  margin: 0px; }

#masthead {
  background-image: url("../img/banner.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  #masthead ul, #masthead ol {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px; }
  #masthead #header {
    padding: 30px 0px;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease; }
    #masthead #header.fixed {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      background: rgba(0, 0, 0, 0.68);
      z-index: 999; }
    #masthead #header #site-branding {
      float: left; }
      #masthead #header #site-branding #logo {
        max-width: 200px; }
    #masthead #header #primary-menu {
      float: left;
      width: calc(100% - 315px);
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 20px; }
      #masthead #header #primary-menu .menu {
        content: '';
        display: block;
        clear: both;
        text-align: right; }
        #masthead #header #primary-menu .menu > .menu-item {
          display: inline-block;
          position: relative; }
          #masthead #header #primary-menu .menu > .menu-item:after {
            width: 0;
            transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            border-bottom: 3px solid #ef8621;
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            bottom: 0px;
            display: block;
            content: ''; }
          #masthead #header #primary-menu .menu > .menu-item:hover:after, #masthead #header #primary-menu .menu > .menu-item.active:after {
            width: 40px; }
          #masthead #header #primary-menu .menu > .menu-item > a {
            text-decoration: none;
            display: block;
            padding: 10px;
            color: #ef8621;
            font-size: 1.2em;
            text-transform: uppercase; }
    #masthead #header #action-link {
      float: left;
      width: 90px;
      margin-top: 10px; }
      #masthead #header #action-link #social {
        float: left; }
        #masthead #header #action-link #social .sc-item {
          display: inline-block; }
          #masthead #header #action-link #social .sc-item a {
            display: block;
            padding: 0px 5px;
            text-decoration: none; }
            #masthead #header #action-link #social .sc-item a:hover i.demo-icon {
              color: #fff; }
          #masthead #header #action-link #social .sc-item i.demo-icon {
            color: #ef8621;
            font-size: 1.6em; }
      #masthead #header #action-link #lagauge {
        float: right; }
        #masthead #header #action-link #lagauge .dropdown-menu {
          background: none;
          width: auto;
          min-width: auto;
          box-shadow: none;
          border: none; }
        #masthead #header #action-link #lagauge span {
          cursor: pointer; }
        #masthead #header #action-link #lagauge a {
          padding: 0px; }
          #masthead #header #action-link #lagauge a:hover {
            color: #ef8621;
            background: none; }
        #masthead #header #action-link #lagauge a, #masthead #header #action-link #lagauge span {
          line-height: 1.7;
          color: #fff;
          font-style: italic; }
  #masthead #home-banner .container {
    min-height: 600px;
    position: relative;
    text-align: center; }
    #masthead #home-banner .container .slogan {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      top: 26%;
      max-width: 840px;
      width: 840px; }
      #masthead #home-banner .container .slogan .sub {
        color: #fff;
        text-shadow: 0px 0px 8px #555;
        font-size: 1.5em;
        line-height: 1.5;
        font-style: italic; }

#content #about-us {
  padding: 30px 0px; }
  #content #about-us .ab-item {
    padding: 30px;
    text-align: center; }
    #content #about-us .ab-item#accelerate > .demo-icon {
      font-size: 3.6em;
      padding: 5px 0px; }
    #content #about-us .ab-item > .demo-icon {
      font-size: 4.2em;
      color: #949494; }
    #content #about-us .ab-item .primary-box-title {
      color: #555555;
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: bold; }
      #content #about-us .ab-item .primary-box-title a {
        font-size: 1.3em;
        text-decoration: none;
        transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        color: #555555; }
        #content #about-us .ab-item .primary-box-title a:hover {
          color: #333333; }
    #content #about-us .ab-item .view-more {
      margin-top: 10px;
      display: inline-block;
      padding: 10px 20px;
      background: #ee8207;
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      padding-right: 60px;
      position: relative;
      border-radius: 4px;
      transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease; }
      #content #about-us .ab-item .view-more:hover {
        background: #CC6D07; }
      #content #about-us .ab-item .view-more i {
        color: #fff;
        right: 10px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%); }
#content #social-posts {
  padding: 75px 0px;
  background: #eef1f5; }
  #content #social-posts .post-social .wrap {
    background: #fff;
    padding: 30px 20px;
    border-radius: 4px;
    font-size: 1.1em; }
    #content #social-posts .post-social .wrap .head {
      position: relative; }
      #content #social-posts .post-social .wrap .head .social-link {
        position: absolute;
        top: 0px;
        right: 0px; }
        #content #social-posts .post-social .wrap .head .social-link .demo-icon {
          font-size: 1.3em; }
      #content #social-posts .post-social .wrap .head .title {
        width: calc(100% - 30px);
        font-size: 1.1em;
        margin-top: 0px;
        margin-bottom: 10px;
        min-height: 38px;
        color: #888888; }
        #content #social-posts .post-social .wrap .head .title strong {
          color: #333333; }
        #content #social-posts .post-social .wrap .head .title a {
          display: block;
          text-decoration: none;
          color: #888888; }
          #content #social-posts .post-social .wrap .head .title a strong {
            color: #333333; }
    #content #social-posts .post-social .wrap .desc {
      min-height: 70px; }
    #content #social-posts .post-social .wrap .thumbnail {
      margin-bottom: 0px;
      margin-top: 20px;
      padding: 0px;
      box-shadow: none;
      border: none; }
#content #row-partners {
  padding: 75px 0px; }
  #content #row-partners .title {
    color: #333333;
    font-size: 2.8em;
    font-weight: normal;
    margin-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd; }
  #content #row-partners #slider-partners .slides .partner:first-child .link-cp {
    padding-left: 46px; }
  #content #row-partners #slider-partners .slides .partner .link-cp a {
    font-size: 1.1em;
    color: #888;
    text-decoration: none; }
  #content #row-partners #slider-partners .flex-direction-nav a.flex-next, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev {
    outline: none;
    box-shadow: none;
    text-decoration: none; }
    #content #row-partners #slider-partners .flex-direction-nav a.flex-next:active, #content #row-partners #slider-partners .flex-direction-nav a.flex-next:focus, #content #row-partners #slider-partners .flex-direction-nav a.flex-next:visited, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev:active, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev:focus, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev:visited {
      outline: none;
      box-shadow: none; }
    #content #row-partners #slider-partners .flex-direction-nav a.flex-next .demo-icon, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev .demo-icon {
      color: #f58508;
      font-size: 3em; }
    #content #row-partners #slider-partners .flex-direction-nav a.flex-next:before, #content #row-partners #slider-partners .flex-direction-nav a.flex-prev:before {
      display: none; }

#colophon #footer {
  padding: 50px 0px;
  background: #eef1f5; }
  #colophon #footer .ft-item {
    padding-right: 70px; }
    #colophon #footer .ft-item#ft-contact .contact-link {
      font-style: italic;
      text-decoration: underline;
      color: #7b7c7d; }
      #colophon #footer .ft-item#ft-contact .contact-link:hover {
        color: #333; }
    #colophon #footer .ft-item .title {
      color: #f58508;
      font-size: 1.6em;
      margin-top: 0px;
      margin-bottom: 30px; }
      #colophon #footer .ft-item .title .demo-icon {
        color: #eef1f5;
        margin-right: 10px;
        background: #f58508;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%; }
    #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group {
      background: #fff;
      position: relative;
      border-radius: 4px;
      overflow: hidden; }
      #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group input {
        float: left;
        width: calc(100% - 40px);
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        height: 40px;
        color: #7b7c7d;
        font-style: italic; }
        #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group input:active, #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group input:focus, #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group input:visited {
          outline: none;
          box-shadow: none; }
      #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group button {
        height: 40px;
        background: none;
        border: none;
        outline: none;
        box-shadow: none; }
        #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group button:active, #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group button:focus, #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group button:visited {
          outline: none;
          box-shadow: none; }
        #colophon #footer .ft-item#ft-newletter #form-newsletter .form-group button .demo-icon {
          color: #7b7c7d;
          font-size: 1.4em;
          line-height: 40px; }
    #colophon #footer .ft-item#ft-follow .par {
      margin-top: 20px; }
      #colophon #footer .ft-item#ft-follow .par img {
        margin-left: 20px; }
    #colophon #footer .ft-item#ft-follow .socials {
      padding-left: 0px;
      list-style: none;
      margin-bottom: 0px; }
      #colophon #footer .ft-item#ft-follow .socials:after {
        content: '';
        display: block;
        clear: both; }
      #colophon #footer .ft-item#ft-follow .socials .social {
        float: left;
        line-height: 1;
        padding: 0px 20px;
        position: relative; }
        #colophon #footer .ft-item#ft-follow .socials .social a {
          text-decoration: none; }
        #colophon #footer .ft-item#ft-follow .socials .social .demo-icon {
          font-size: 2em; }
        #colophon #footer .ft-item#ft-follow .socials .social:last-child:after {
          display: none; }
        #colophon #footer .ft-item#ft-follow .socials .social:after {
          content: '';
          display: block;
          height: 100%;
          right: 0px;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0%, -50%);
          -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
          border-right: 1px solid #ddd; }
#colophon #site-info {
  padding: 20px 0px; }
  #colophon #site-info #footer-menu .menu {
    text-align: center; }
    #colophon #site-info #footer-menu .menu .menu-item {
      display: inline-block; }
      #colophon #site-info #footer-menu .menu .menu-item a {
        text-transform: uppercase;
        color: #7b7c7d;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease; }
        #colophon #site-info #footer-menu .menu .menu-item a:hover {
          color: #333; }
  #colophon #site-info #copyright {
    text-align: center; }
    #colophon #site-info #copyright a {
      font-weight: bold;
      font-size: 0.9em;
      color: #7b7c7d; }

@media only screen and (max-width: 1024px) {
  #masthead #header #primary-menu .menu > .menu-item > a {
    padding: 10px 5px;
    font-size: 1em; }

  #colophon #footer .ft-item {
    padding-right: 15px; } }
@media only screen and (max-width: 992px) {
  html, body {
    overflow-x: hidden; }

  #menu-mobile.hidden {
    display: block !important;
    float: right;
    margin-top: 1px;
    height: 40px;
    width: 40px;
    font-size: 1.4em;
    color: #fff;
    background: #ef8621;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    outline: none;
    box-shadow: none; }
    #menu-mobile.hidden:active, #menu-mobile.hidden:focus, #menu-mobile.hidden:visited {
      outline: none;
      box-shadow: none; }

  #masthead #header #primary-menu {
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    position: fixed;
    height: 100%;
    background: #333333;
    width: 180px !important;
    right: -180px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 9999; }
    #masthead #header #primary-menu.open {
      right: 0px; }
    #masthead #header #primary-menu .menu .menu-item {
      display: block;
      text-align: left; }
      #masthead #header #primary-menu .menu .menu-item a {
        padding: 10px 20px;
        display: block; }
      #masthead #header #primary-menu .menu .menu-item:after {
        transform: none;
        left: 20px; }

  #masthead #header #action-link {
    float: right; } }
@media only screen and (max-width: 768px) {
  #masthead #home-banner .container .slogan {
    width: 100%; }

  #colophon #footer .ft-item .title {
    margin-bottom: 20px; }

  #colophon #footer .ft-item {
    margin-bottom: 30px; }
    #colophon #footer .ft-item:last-child {
      margin-bottom: 0px; }

  #footer-menu {
    display: none; }

  #content #social-posts .post-social {
    margin-bottom: 30px; }
    #content #social-posts .post-social:last-child {
      margin-bottom: 0px; } }
@media only screen and (max-width: 420px) {
  #masthead #header #action-link {
    clear: both;
    width: 100%;
    text-align: left;
    margin-top: 15px; }

  #masthead #header #action-link #social {
    display: inline-block;
    float: none; }

  #masthead #header #action-link #lagauge {
    display: inline-block;
    float: none; }

  #menu-mobile.hidden {
    position: absolute;
    right: 0px; }

  #masthead #header {
    padding: 20px 0px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
